@theme {
  --font-sans: 'Open Sans', sans-serif;

  --color-brand-gray-1: #dadce0;
  --color-brand-gray-2: #f8f9fa;
  --color-brand-gray-3: #80868b;
  --color-brand-blue-1: #1967d2;
  --color-brand-blue-2: #4285f4;
  --color-brand-green-1: #137333;
  --color-brand-red-1: oklch(57.7% 0.245 27.325);

  --shadow-blue: 0 0 3px 3px #4285f4;
  --shadow-gray: 0 1px 3px 0 rgba(60, 64, 67, 0.3);
}
